<section class="todoapp">
  <header class="header">
    <h1>{{app.title}}</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus [(ngModel)]="newTodo"/>
    <button class="new-todo-btn" (click)="addTodo()">Add</button>
  </header>
  <section class="main" *ngIf="todos.length">
    <input id="toggle-all" class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [ngClass]="todo.completed ? 'completed' : 'view'">
        <div class="view">
          {{runChangeDetection()}}
          <input class="toggle" type="checkbox" [checked]="todo.completed" (click)="markTodo(todo)"/>
          <label>{{todo.name}}</label>
          <button class="destroy" (click)="delete(todo)"></button>
        </div>
      </li>
    </ul>
  </section>
  <app-todo
    [todos]="todos"
    [app]="app"
  ></app-todo>
</section>

<div class="rename">
  <button (click)="changeAppTitle()">Rename app title</button>
</div>



